.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  background: #c4f6f7;
  margin-top: 10vh;
  padding: 1em;
}
.checklist ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
li {
  display: none;
  justify-content: space-between;
}


.btn {
  background: transparent;
  color: #49aff3;
  border-style: none;
}
#updateBtn {
  background: white;
  color: black;
  border: skyblue 1px solid;
}
